html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    color: $text;
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    font-family: 'PT Sans', sans-serif;
    margin: 0;
}

.container-fluid {
    max-width: 1668px;
    padding: 0 15px;
    margin: 0 auto;
}
.container {
    max-width: 1140px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: $text;
    font-family: "MuseoSansCyrl700";
}

ul,
li,
p {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

button {
    font-size: 0;
    border: none;
    padding: 0;
    margin: 0;
}

.btn{
    a{
        padding: 16px 28px 19px 28px;
        border: 1px solid #fff;
        border-radius: 3px;
    }
}