html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    color: $text;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    font-family: "PT Sans", sans-serif;
    margin: 0;
}

.container-fluid {
    max-width: 1668px;
    padding: 0 15px;
    margin: 0 auto;
}
.container {
    max-width: 1140px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: $text;
    outline: none;
}

ul,
li,
p {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

button {
    font-size: 0;
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
}
input {
    border: none;
}

.btn {
    a {
        padding: 16px 28px 19px 28px;
        border: 1px solid #fff;
        border-radius: 3px;
    }
}

.btn-gradient {
    background: linear-gradient(to right, #15549e, #2468ac 50%, #3179b8 100%);
    border-radius: 5px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    font-size: 0.94rem;
    &:focus{
        outline: -webkit-focus-ring-color auto 1px;
    }
    &:hover{
        background: linear-gradient(to right, #175eaf, #2873be 50%, #3789d1 100%);
    }
}
