@media (max-width: 1900px) {
    .footer-photos .slick-slide{
        margin: 0 12px;
    }
}
@media (max-width: 1500px) {
    .header .header__inner .slick-next,
    .header .header__inner .slick-prev {
        margin: 0 1% 100px;
    }
    .header .header-form {
        right: 10%;
    }
    .footer-photos .slick-slide{
        display: flex;
        justify-content: center;
    }
}
@media (max-width: 1300px) {
    .main-content .about__inner .about-item-wrapper .item-exp-wrapper {
        left: 18%;
    }
    .main-content .about__inner .about-item-wrapper .item-star {
        left: 10%;
    }
    .main-content .doctors__items .doctors-item-wrapper .slick-next,
    .main-content .doctors__items .doctors-item-wrapper .slick-prev {
        margin: 0 10px;
    }
    .main-content .doctors__items .doctors-item-wrapper {
        display: block;
        .slick-dots {
            display: flex;
            justify-content: center;
            margin-top: 15px;
            li {
                button {
                    font-size: 0px;
                    width: 15px;
                    height: 15px;
                    background-color: #fff;
                    border: 5px solid #ccc;
                    border-radius: 50%;
                    
                }
                &.slick-active{
                    button{
                        background-color: $red;
                    }
                }
                & + li {
                    margin-left: 15px;
                }
            }
        }
    }
}
@media (max-width: 1260px) {
    .header .header-item {
        margin: 0 100px;
    }
    
}
@media (max-width: 1120px) {
    .main-content .services .container .services__inner {
        padding: 30px 155px 0 35px;
    }
}
@media (max-width: 1070px) {
    .main-content .about {
        padding: 60px 0 70px;
    }
    .main-content .about__inner {
        flex-wrap: wrap;
        justify-content: center;
    }
    .main-content .about__inner .about-info {
        margin: 0 15px;
    }
}
@media (max-width: 1000px) {
    .header .header-form {
        top: unset;
        bottom: 0;
    }
    .header .header-form label[for="name"],
    .header .header-form label[for="tel"] {
        span {
            display: none;
            & + input {
                &::placeholder {
                    color: $grey;
                }
            }
        }
    }
    .header .header-form {
        padding: 15px 30px 15px;
        right: 0;
    }
    .header .header-form button {
        margin-top: 0;
        margin-bottom: 10px;
    }
}
@media (max-width: 940px) {
    .main-content .services .container .services__inner .services-doctor {
        display: none;
    }
    .main-content .services .container .services__inner {
        padding: 30px 15px 0px 15px;
    }
    .main-content .collective__inner{
        img{
            max-width: 100%;
        }
    }
}
@media (max-width: 860px) {
    .main-content .about__inner .about-item-wrapper {
        margin-bottom: 100px;
    }
}
@media (max-width: 800px) {
    .main-content .services .container .services__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        height: auto;
    }
    .main-content .services .container .services__inner .services-form {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-bottom: 15px;
    }
    .main-content .services .container .services__inner .services-form .checkbox-confident {
        margin-left: 100px;
        margin-top: 20px;
    }
    .main-content .services .container .services__inner:after,
    .main-content .services .container .services__inner:before {
        height: 300px;
        background-size: cover;
    }
    .main-content .services .container .services__inner .services-info {
        flex-direction: column;
        text-align: center;
    }
    .main-content .services .container .services__inner .services-info .services-descr {
        margin-left: 0;
        margin-top: 20px;
    }
    .main-content .services .container .services__inner .services-form .btn-gradient {
        width: 65%;
        margin-left: 0;
        margin-top: 20px;
        max-width: none;
    }
    .main-content .services .container .services__inner .services-form .checkbox-confident span a {
        display: inline-block;
    }
    .footer .btn-groups .btn{
        width: 49%;
        margin-bottom: 10px;
    }
}
@media (max-width: 720px) {
    .header .header-form {
        display: none;
    }
    .main-content .services .container .services__inner .services-form .checkbox-confident {
        margin-left: 20px;
    }
    .main-content .collective__inner .collective-img{
        bottom: -34px;
    }
    .main-content .collective__inner{
        background-size: 50%;
        height: 50%;
    }
}
@media (max-width: 650px) {
    .main-content .about__inner .about-info {
        width: 100%;
        max-width: none;
        text-align: center;
    }
    .footer .btn-groups .btn{
        height: 55px;
        white-space: nowrap;
        overflow-x: hidden;
        text-overflow: ellipsis;
        padding: 0 5px;
    }
}
@media (max-width: 520px) {
    .header .header-item {
        margin: 0 60px;
    }
    .header .header-item__title {
        font-size: 2rem;
    }
    .header .header-item__title span {
        font-size: 2.7rem;
    }
    .header .header-item {
        padding: 40px 15px 25px;
        text-align: center;
    }
    .main-content .about__inner .about-item-wrapper .item-star {
        display: none;
    }
    .main-content .about__inner .about-item-wrapper {
        width: 100%;
    }
    .main-content .about__inner .about-item-wrapper .about-item .slick-list {
        margin-left: auto;
    }
    .main-content .services .container .services__inner .services-form {
        .input {
            max-width: none;
            width: 75%;
            & + input {
                margin-left: 0;
                margin-top: 10px;
            }
        }
    }
    .main-content .services .container .services__inner:after {
        display: none;
    }
    .main-content .services .container .services__inner:after {
    }
    .main-content .services .container .services__inner:after,
    .main-content .services .container .services__inner:before {
        height: 100%;
    }
    .main-content .collective__inner .collective-img{
        bottom: -25px;
    }
    .footer-title{
        line-height: 50px;
    }
    .footer-pre{
        font-size: 0.95rem;
    }
    .footer-photos .slick-slide{
        min-width: auto;
        
    }
}
@media (max-width: 420px){
    .footer-photos .slick-slide {
        margin: 0 0px;
        img{
            width: 100%;
        }
    }
}
@media (max-width: 400px) {
    .header .header-item {
        font-size: 15px;
    }
    .header .header-item__title {
        font-size: 1.5rem;
    }
    .header .header-item__title span {
        font-size: 2rem;
    }
    .header .header-item__price {
        font-size: 2rem;
    }
    .header .header-item__price .per {
        font-size: 1.36rem;
    }
    .main-content .about__inner .about-item-wrapper .item-exp {
        width: 120px;
        height: 150px;
    }
    .main-content .about__inner .about-item-wrapper .item-exp .number {
        font-size: 2.5rem;
        line-height: 35px;
    }
    body {
        font-size: 16px;
    }
    .main-content .collective__inner .collective-img {
        bottom: -19px;
    }
}

@media (max-width: 370px) {
    .main-content .services .container .services__inner .services-info .services-title {
        font-size: 1.22rem;
    }
}
@media (max-width: 1500px) {
}
@media (max-width: 1500px) {
}
@media (max-width: 1500px) {
}
@media (max-width: 1500px) {
}
@media (max-width: 1500px) {
}
@media (max-width: 1500px) {
}
@media (max-width: 1500px) {
}
