$text: #fff;
$red: #bb0367;
$blue: #0b549d;
$blue-l: #bdd9ff;
$text-black: #011d3a;
$grey: #5e5e5e;
$name: #1555a5;

@mixin pre {
    font-size: 0.77em;
    font-weight: 700;
    text-transform: uppercase;
}
@mixin title {
    margin-top: 25px;
    font-size: 2.55em;
    font-weight: 700;
}

@mixin shufflebtn {
    background-color: #0a3f7f;
    border: 1px solid $blue-l;
    border-radius: 5px;
    font-size: 0.83em;
    min-width: 123px;
    height: 40px;
    padding: 0 13px;
    color: #fff;
    transition: all 0.2s;
    &.active {
        color: $red;
        background-color: #fff;
    }
    &:hover {
        &:not(.active) {
            color: #393cfa;
            background-color: $blue-l;
        }
    }
}
