@import "_fonts.scss";
@import "_vars.scss";
@import "_global.scss";

.header {
    padding: 60px 0 105px;
    &__items {
        position: relative;
        .header-item__wrapper {
            display: flex;
            align-items: center;
            .slick-next,
            .slick-prev {
                font-size: 0px;
                position: relative;
                width: 48px;
                height: 48px;
                background-color: rgba(41, 63, 148, 0.7);
                border-radius: 50%;
                transition: all 0.2s;
                &:hover {
                    background-color: rgba(41, 63, 148, 1);
                }
                &:before {
                    position: absolute;
                    content: "";
                    background: url(../images/img/arrow-left.svg) no-repeat;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    width: 12px;
                    height: 22px;
                }
            }
            .slick-next {
                &:before {
                    transform: translate(-50%, -50%) rotate(180deg);
                }
            }
            .slick-prev {
            }
            .slick-list {
                max-width: 1140px;
                margin: 0 auto;
            }
        }
        .header-item {
            &__title {
                margin-top: 0;
                max-width: 500px;
                font-size: 2.6rem;
                line-height: 48px;
                font-weight: 400;
                span {
                    font-size: 3.33rem;
                    font-weight: 700;
                }
            }
            &__descr {
                margin-bottom: 40px;
                max-width: 500px;
                color: #c5e8ff;
            }
            &__price {
                margin-bottom: 40px;
                font-size: 2.38rem;
                .per {
                    font-size: 1.66rem;
                }
                .promo {
                    background-color: $red;
                    border-top-left-radius: 40px;
                    border-top-right-radius: 25px;
                    border-bottom-right-radius: 25px;
                    font-size: 0.88rem;
                    padding: 5px 15px;
                }
            }
            &__link {
                margin-bottom: 30px;
                a {
                    font-size: 0.94rem;
                    border-color: #bddff8;
                    transition: all 0.2s;
                    &:hover {
                        background-color: #2a44ac;
                    }
                }
            }
        }
        .header-form {
            background: url(../images/img/girl-form.png) no-repeat;
            background-position: right top;
            padding: 40px 30px 45px;
            max-width: 350px;
            background-color: #fff;
            border-radius: 5px;
            position: absolute;
            right: 14%;
            top: 0%;

            &__title {
                font-weight: 700;
                font-size: 1.33rem;
                color: $text-black;
            }
            &__descr {
                font-size: 0.83rem;
                color: #a4a4a4;
                margin-bottom: 25px;
            }
            label {
                span {
                    font-size: 0.88rem;
                    color: $grey;
                }
                input {
                    display: block;
                    margin-top: 10px;
                    margin-bottom: 10px;
                }
                #confident {
                    width: auto;
                    height: auto;
                    margin: 0;
                    cursor: pointer;
                    background-color: #ccc;
                    position: absolute;
                    &:after {
                        display: none;
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);
                        content: "";
                        background-image: url(../images/img/check.svg);
                        height: 6px;
                        width: 8px;
                    }
                    &:before {
                        position: absolute;
                        content: "";
                        width: 13px;
                        height: 13px;
                        background-color: #eeeeee;
                    }
                    &:checked {
                        &::after {
                            display: block;
                        }
                    }

                    & + span {
                        font-size: 0.72rem;
                        margin-left: 20px;
                        color: #8d8d8d;
                        a {
                            color: #505050;
                        }
                    }
                }
                &.checkbox-confident {
                    display: flex;
                    align-items: center;
                }
            }
            button {
                width: 100%;
                height: 50px;
                margin-top: 15px;
                margin-bottom: 15px;
            }
        }
    }
}

.main-content {
    .about {
        padding: 126px 0 168px;
        &__inner {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .about-item-wrapper {
                position: relative;
                .about-item {
                    .slick-next,
                    .slick-prev {
                        position: absolute;
                        right: 0;
                        bottom: 0;
                        z-index: 5;
                        font-size: 0px;
                        width: 48px;
                        height: 48px;
                        background-color: rgba(187, 3, 103, 1);
                        transition: all 0.2s;

                        &:hover {
                            background-color: rgb(163, 11, 95);
                        }
                        &:before {
                            position: absolute;
                            content: "";
                            background: url(../images/img/arrow-left.svg) no-repeat;
                            left: 50%;
                            top: 50%;
                            transform: translate(-50%, -50%);
                            width: 12px;
                            height: 22px;
                            opacity: 0.8;
                        }
                    }
                    .slick-next {
                        border-bottom-right-radius: 4px;
                        &:before {
                            transform: translate(-50%, -50%) rotate(180deg);
                        }
                        &:after {
                            content: "";
                            position: absolute;
                            left: 0;
                            bottom: 0;
                            height: 35px;
                            width: 1px;
                            background-color: rgba(255, 255, 255, 0.305);
                        }
                    }
                    .slick-prev {
                        border-top-left-radius: 25px;
                        right: 48px;
                    }
                    .slick-list {
                        max-width: 430px;
                        max-height: 430px;
                    }
                    img {
                    }
                }
                .item-star {
                    position: absolute;
                    content: "";
                    left: 0%;
                    bottom: 0%;
                    transform: translate(-55%, 10%);
                    z-index: -3;
                }
                .item-exp {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    padding-bottom: 50px;
                    width: 160px;
                    height: 200px;
                    color: $blue;
                    background-color: #fff;
                    z-index: 1;
                    clip-path: polygon(0 0, 100% 0, 100% 66%, 94% 71%, 75% 76%, 0 92%);
                    border-radius: 20px;
                    border-bottom-right-radius: 95px;
                    &-wrapper {
                        filter: drop-shadow(0px 3px 18px rgba(0, 0, 0, 0.1));
                        position: absolute;
                        content: "";
                        left: 0%;
                        bottom: 0%;
                        transform: translate(-50%, 50%);
                    }
                    .more {
                        color: $text-black;
                    }
                    .number {
                        font-weight: 700;
                        font-size: 4rem;
                        line-height: 58px;
                        font-family: "Montserrat", sans-serif;
                    }
                    .years {
                        font-size: 1.1rem;
                        font-weight: 700;
                    }
                }
                .item-circles {
                    position: absolute;
                    content: "";
                    left: 0%;
                    bottom: 5%;
                    transform: translate(-50%, 50%);
                    z-index: -5;
                    background-color: #fff;
                    .item-circle {
                        border: 2px solid #edf3f8;
                        border-radius: 50%;
                        &__1 {
                            width: 430px;
                            height: 430px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            .item-circle__2 {
                                width: 260px;
                                height: 260px;
                            }
                        }
                        &__2 {
                        }
                    }
                }
            }
            .about-info {
                color: $text-black;
                max-width: 350px;
                .info-pre {
                    font-size: 1.33rem;
                    line-height: 24px;
                }
                .info-title {
                    font-size: 2.55rem;
                    line-height: 44px;
                    margin-top: 0;
                    margin-bottom: 25px;
                }
                .info-descr {
                    margin-bottom: 50px;
                }
                .info-link {
                    a {
                        color: $red;
                        border-color: $red;
                        &:hover {
                            background-color: rgba(252, 220, 237, 0.24);
                        }
                    }
                }
            }
            .about-doc {
                width: 233px;
                padding-top: 50px;
                .doc-top {
                    display: flex;
                    align-items: center;
                    margin-bottom: 40px;
                    .doc-title {
                        font-size: 0.94rem;
                        max-width: 80px;
                        color: $text-black;
                        span {
                            background-color: #e2f4fd;
                            padding: 3px 3px;
                        }
                    }
                    &__link {
                        margin-left: 30px;
                        a {
                            color: $red;
                            border-color: $red;
                            padding: 2px 8px;
                            font-size: 0.77rem;
                        }
                    }

                    span {
                        max-width: 100px;
                    }
                }
                .doc-images {
                    position: relative;
                    height: 243px;
                    .doc-image {
                        position: absolute;
                        content: "";
                    }
                    .image-1 {
                        left: 0%;
                        top: 0%;
                    }
                    .image-2 {
                        z-index: -2;
                        right: 30px;
                        bottom: 0;
                        filter: blur(1px);
                    }
                    .image-3 {
                        z-index: -3;
                        right: 0px;
                        bottom: 0;
                        filter: blur(2px);
                    }
                    .images__link {
                    }
                }
            }
        }
    }

    .services {
        padding: 20px 0 40px;
        .container {
            padding: 0 15px;
            .services__inner {
                padding: 30px 45px 0 35px;
                border-radius: 10px;
                height: 144px;
                position: relative;
                &:after,
                &:before {
                    width: 100%;
                    height: 144px;
                    top: 0;
                    right: 0;
                    content: "";
                    position: absolute;
                    border-radius: 10px;
                }
                &:after {
                    background: url(../images/img/promo-form-bg-1.png) no-repeat right center;
                    opacity: 0.5;
                    z-index: -1;
                }
                &:before {
                    background: linear-gradient(to right, #0a4d9c, #034294 50%, #4086c4 70%, #81cff7 100%);
                    z-index: -2;
                }

                .services-info {
                    display: flex;
                    margin-bottom: 20px;
                    .services-title {
                        text-transform: uppercase;
                        font-size: 1.44rem;
                        font-weight: 700;
                        span {
                            background-color: $red;
                            border: 1px dashed #fff;
                            padding: 0px 5px;
                        }
                    }
                    .services-descr {
                        margin-left: 20px;
                        font-size: 0.88rem;
                        span {
                            color: $blue-l;
                        }
                    }
                }
                .services-form {
                    display: flex;
                    align-items: center;
                    .input {
                        max-width: 222px;
                        &::placeholder {
                            color: #587ea7;
                        }
                        & + input {
                            margin-left: 14px;
                        }
                    }
                    .btn-gradient {
                        background: linear-gradient(to right, $red, #b11269 50%, #a02167 100%);
                        max-width: 200px;
                        width: 100%;
                        height: 45px;
                        margin-left: 14px;
                        &:hover {
                            background: linear-gradient(to right, $red, #ac2871 50%, #ca0270 100%);
                        }
                    }
                    .checkbox-confident {
                        display: flex;
                        align-items: center;
                        line-height: 14px;
                        margin-left: 16px;
                        input {
                        }
                        span {
                            margin-left: 30px;
                            color: $blue-l;
                            a {
                                display: block;
                                color: #fff;
                            }
                        }
                    }
                }
                .services-doctor {
                    position: absolute;
                    content: "";
                    right: 35px;
                    bottom: -5px;
                }
            }
        }
    }

    .doctors {
        padding: 40px 0 20px;
        text-align: center;
        &-pre {
            @include pre;
            color: $red;
        }
        &-title {
            @include title;
            color: $text-black;
        }
        &-line {
            margin-bottom: 30px;
        }
        &__items {
            display: flex;
            align-items: center;
            justify-content: center;
            .doctors-item-wrapper {
                display: flex;
                align-items: center;
                width: 100%;
                .slick-next,
                .slick-prev {
                    font-size: 0px;
                    position: relative;
                    width: 48px;
                    height: 48px;
                    background-color: rgba(255, 255, 255, 1);
                    border: 1px solid #eee;
                    border-radius: 50%;
                    transition: all 0.2s;
                    &:hover {
                        background-color: rgba(187, 187, 250, 0.205);
                        &:before {
                            background-color: $name;
                        }
                    }
                    &:before {
                        position: absolute;
                        content: "";
                        mask: url(../images/img/arrow-left.svg);
                        background-color: #d0d0d0;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);
                        width: 12px;
                        height: 22px;
                    }
                }
                .slick-next {
                    &:before {
                        transform: translate(-50%, -50%) rotate(180deg);
                    }
                }
                .slick-prev {
                }
                .slick-list {
                    max-width: 1140px;
                    margin: 0 auto;
                    height: 450px;
                }
                .doctors-item {
                    box-shadow: 0px 0px 9px 3px rgba(0, 0, 0, 0.05);
                    max-width: 265px;
                    height: 447px;
                    border-radius: 10px;
                    display: block;
                    &-border {
                        border: 1px dashed #ccc;
                    }
                    .item-top {
                        img {
                            max-width: 265px;
                            max-height: 303px;
                            border-top-left-radius: 10px;
                            border-top-right-radius: 10px;
                        }
                        &-icon {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            height: 130px;
                            .item-top__img {
                                width: 92px;
                                height: 92px;
                                border-radius: 50%;
                                background-color: #e7f7fd;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                img {
                                    &.doctor-icon {
                                    }
                                    &.loope-icon {
                                        padding-top: 20px;
                                    }
                                }
                            }
                        }
                    }
                    .item-bot {
                        padding: 25px;
                        .doctor-surname,
                        .doctor-name {
                            color: $name;
                            font-weight: 700;
                            font-size: 1.1rem;
                        }
                        .doctor-pos {
                            font-size: 0.83rem;
                            color: #999;
                            margin-top: 10px;
                            line-height: 16px;
                        }
                        &__title {
                            color: $red;
                            font-weight: 700;
                            font-size: 1.1rem;
                            margin-bottom: 15px;
                        }
                        &__descr {
                            color: #999999;
                            font-size: 0.77rem;
                            margin-bottom: 40px;
                        }
                        .btn {
                            margin-bottom: 30px;
                            a {
                                color: $name;
                                border-color: $name;
                                padding: 15px 65px;
                                font-weight: 700;
                                &:hover {
                                    background-color: rgba(220, 227, 252, 0.418);
                                }
                            }
                        }
                        .btn-gradient {
                            background: linear-gradient(to right, $red, #b11269 50%, #a02167 100%);
                            width: 100%;
                            height: 45px;
                            text-transform: none;
                            &:hover {
                                background: linear-gradient(to right, $red, #ac2871 50%, #ca0270 100%);
                            }
                        }
                    }
                }
            }
        }
    }
    .collective {
        padding-top: 20px;
        background-size: cover;
        min-height: 425px;
        &__inner {
            background: url(../images/img/star.png) no-repeat center top;
            background-size: 411px 397px;
            text-align: center;
            width: 100%;
            .collective-img {
                position: relative;
                left: -5px;
                bottom: -44px;
                img {
                }
            }
        }
    }
}

@import "_media.scss";
